.sticky-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    background: #ffffff;
    box-shadow: 0px 2px 10px 0px #cccccc;
}

/* Cart Styles */
.cart-coupon input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #B8B8B8;
    padding: 10px;
}
.cart-coupon form {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.cart-coupon form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    color: #CEA74E;
    font-size: 17px;
}
.cart-coupon .text-color {
    color: #CEA74E;
}
.cart-coupon div {
    font-size: 17px;
}
.checkout_btn_inner {
    margin: 10px auto;
    background: transparent;
}
.checkout_btn_inner a {
    background: #CEA74E;
    color: #fff;
    padding: 12px 42px;
}

/* Single Product Page */
#single-product {
    padding-top: 40px;
}
#single-product h3 a {
    font-weight: 700;
    color: #15100C;
    margin-bottom: 15px;
}
#single-product h4 {
    margin-bottom: 15px;
}
#single-product h2 {
    font-weight: 400;
    color: #CEA74E;
    margin-bottom: 15px;
}
#single-product .rating {
    font-size: 18px;
}
#single-product .rating .checked {
    color: #CEA74E;
}
#single-product .rating div {
    margin-right: 10px;
}
#single-product .item-code div {
    font-size: 1.3rem;
}
#single-product .rating div:last-child {
    opacity: 0.6;
}
#single-product .item-code {
    margin-top: 0;
    justify-content: space-between;
}
#single-product .price span {
    font-size: 2rem;
    color: #cea74e;
}
#single-product .price del {
    color: #15100C;
    opacity: 0.6;
    font-size: 1.2rem;
}
#single-product .item-code div p,
#single-product .color,
#single-product .size,
#single-product .share {
    color: #CEA74E;
    font-size: 1.5rem;
}
#single-product .item-code div:first-child span {
    color: #d7a74e;
    opacity: 1;
    font-size: 1rem;
}
/* #single-product .item-code div:first-child span {
    color: #15100C;
    opacity: 0.6;
} */
#single-product .size span {
    margin-left: 10px;
    color: #15100C;
    opacity: 0.6;
}
.color span {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
}
.size .size_style {
    margin: 0 10px;
    font-size: 15px;
    border-radius: 50%;
    color: #000000;
    box-shadow: 0 0 6px rgb(0 0 0 / 8%);
    padding: 7px 9px;
}
#single-product .size .size_style:first-child {
    margin-left: 20px;
}
#single-product .icons button,
#single-product .icons a {
    padding: 10px 20px;
    margin: 0 20px 0 0;
    border-radius: 39px;
    font-size: 16px;
    border: 1px solid #CEA74E;
}
#single-product .icons button i,
#single-product .icons a i {
    margin-left: 5px;
}
#single-product .icons button:first-child,
#single-product .icons a:first-child {
    background: transparent;
    color: #CEA74E;
}
#single-product .icons button:last-child,
#single-product .icons a:last-child,
#single-product .buttons button {
    background: #CEA74E;
    color: #fff;
}
#single-product .share span {
    color: #B4B3B3;
    margin: 0 10px;
}
#single-product .buttons button {
    padding: 10px 30px;
    margin: 0 20px 0 0;
    border-radius: 39px;
    font-size: 18px;
    border: 1px solid #CEA74E;
}
#single-product .nav-tabs {
    border-bottom: 0;
}
#single-product .nav-tabs button {
    color: #15100C;
    opacity: 0.3;
    background: transparent;
    font-size: 20px;
    padding-left: 0;
    padding-right: 32px;
    border: 0;
}
#single-product .nav-tabs button.active {
    color: #CEA74E;
    opacity: 1;
}
#single-product .tab-content p {
    color: #15100C;
    font-weight: 400;
    margin: 10px 0;
}
#single-product .description {
    margin: 20px 0;
}
.related-products h2 {
    color: #CEA74E;
}
.related-products .swiper-slide > div {
    max-width: 100%;
}
#single-product .description .reviews img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
#single-product .description .reviews {
    margin: 20px 0;
    display: flex;
}
#single-product .description .reviews .name {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #CEA74E;
}
#single-product .description .reviews .name h5 {
    font-size: 18px;
    color: #CEA74E;
    font-weight: 400;
}
#single-product .description .reviews .name h5,
#single-product .description .reviews p {
    margin: 0;
}
.product-reviews p {
    opacity: 0.6;
}
.add-review form {
    width: 50%;
}
.add-review form textarea {
    width: 100%;
    resize: none;
    min-height: 65px;
    border: 1px solid #c2c2c2;
    padding: 10px;
    border-radius: 5px;
}
.add-review form button {
    border: 1px solid #CEA74E;
    background: #CEA74E;
    color: #fff;
    border-radius: 39px;
    padding: 8px 20px;
    font-size: 18px;
    margin: 10px 0;
}
#single-product .add-review h3 {
    color: #cea74e !important;
    font-weight: 400;
    margin: 20px 0;
}
/* Single Product Page */

/* Brands Page */
.brands-page a {
    width: 20%;
    text-align: center;
}
.luxury-section a .single_brand {
    border: 1px solid #CEA74E;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 12px #cea74e;
}
.brands-section .single_brand {
    border: 1px solid #F0F0F0;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brands-page .section_tittle {
    margin-top: 50px;
    margin-bottom: 0;
}
/* Brands Page */
/* Profile Pages */
.my-profile h3 {
    color: #CEA74E;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 400;
}
.my-profile input,
.my-profile select {
    width: 100%;
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid #C2C2C2;
    padding: 10px;
    color: #15100C;
}
.my-profile button {
    background: #CEA74E;
    border: 1px solid #CEA74E;
    color: #fff;
    border-radius: 39px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
}
.edit-img label {
    position: relative;
    text-align: center;
    max-width: 250px;
    margin-left: 50px;
    cursor: pointer;
}
.edit-img label span {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #CEA74E;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    border: 3px solid #fff;
}
.edit-img label:after {
    position: absolute;
    right: -102px;
    top: -35px;
    content: '';
    width: 200px;
    height: 200px;
    background-image: url(/website/images/profile-background.png);
    background-size: contain;
    z-index: -1;
}
#profile-image {
    border-radius: 50%;
}
.manage_address textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #C2C2C2;
    margin: 0 0 20px 0;
    outline: none;
    resize: none;
}
.manage_address button.submit {
    border-radius: 24px;
    padding: 9px;
    background: #CEA74E;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.manage_address .form-check i.bx-trash {
    color: red;
    margin-left: 6px;
    cursor: pointer;
}
.manage_address .form-check i.bx-edit {
    color: green;
    margin-left: 6px;
    cursor: pointer;
}
.manage_address .form-check-label {
    margin: 5px 0px;
}
.update_mobilenumber {
    position: absolute;
    bottom: -6px;
    right: 15px;
    color: #15100C;
    transition: .5s all;
}
.update_mobilenumber:hover {
    color: #CEA74E;
}

/* Profile Pages */

/* My Orders */
.my-orders h3 {
    font-size: 35px;
    color: #CEA74E;
    margin-bottom: 20px;
    font-weight: 400;
}
.my-orders th {
    color: #CEA74E;
    font-size: 16px;
}
.my-orders button {
    background: transparent;
    border: 0 !important;
    color: #CEA74E;
    opacity: 0.5;
    font-size: 18px;
}
.my-orders button:first-child {
    padding-left: 0;
}
.my-orders button.active {
    color: #CEA74E !important;
    opacity: 1;
}
.my-orders .nav-tabs {
    border: 0 !important;
}
.my-orders th {
    border: 0;
}
.my-orders td.color {
    color: #CEA74E;
    opacity: 1;
}
.my-orders td {
    opacity: 0.7;
}
.my-orders td {
    opacity: 0.7;
    border-top: 1px solid rgba(6,22,36,0.1);
    padding: 17px 12px;
}
.my-orders td.completed span {
    color: #05B651;
    background: rgba(6,182,81,0.11);
    padding: 6px 15px;
    border-radius: 39px;
}
.my-orders td.pending span {
    color: #CEA74E;
    background: rgba(206,167,75,0.11);
    padding: 6px 15px;
    border-radius: 39px;
}
.my-orders td.canceled span {
    color: #F13131;
    background: rgba(241,49,49,0.11);
    padding: 6px 15px;
    border-radius: 39px;
}
/* My Orders */

/* Manage Addresses */

.form_inputs select,
.form_inputs input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #C2C2C2;
    margin: 0 0 50px 0;
    outline: none;
}
.form_inputs .form-check-input {
    margin-top: .3rem;
    margin-left: -1.25rem;
    width: auto;
    border: none;
}

/* Manage Addresses */

/* Checkout Style */
.checkout-form h3 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #cea74e;
    font-weight: 600;
}
.checkout-form input, .checkout-form select {
    width: 100%;
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid #C2C2C2;
    padding: 10px;
    color: #15100C;
}
input:focus,
select:focus,
textarea:focus {
    border-bottom: 1px solid #cea74e;
    outline: 0;
}
.checkout-form .checkout-actions {
    margin: 30px 0;
}
.checkout-form .checkout-actions a {
    display: block;
    margin: 10px 0;
    font-size: 17px;
    color: #15100C;
}
.cart-product {
    width: 100%;
}
.cart-product .row {
    align-items: center;
}
.cart-total td {
    border: 0;
}
.cart-product h4 span {
    margin-left: 5px;
    background: #cea74e;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    padding: 3px 6px;
}
body .cart-product p.size {
    color: #797979;
    font-size: 16px;
}
body .cart-product p.size span {
    font-size: 16px !important;
}
body .cart-product .text-color, 
body .cart-total .text-color {
    color: #cea74e;
    font-size: 21px;
    font-weight: 600;
}
.cart-product {
    margin: 10px 0;
}
.cart-total h6 {
    font-size: 18px;
}
.agreement {
    margin: 10px 0;
}
.agreement a {
    color: #cea74e;
}
.checkout-form button.submit {
    background: #cea74e;
    color: #fff;
    border: 1px solid #cea74e;
    border-radius: 39px;
    font-size: 18px;
    padding: 10px 30px;
}
/* Checkout Style */

/* Notifications Style */
.notifications h3 {
    color: #cea74e;
    font-size: 30px;
}
.notifications h4 {
    color: #cea74e;
    font-size: 24px;
    margin: 0;
}
.notifications p {
    font-size: 16px;
}
.notifications span {
    color: #cea74e;
    margin-top: 10px;
    display: inline-block;
}
.notifications i,
.clear-all {
    color: #c8464e;
    cursor: pointer;
}
.clear-row {
    margin: 10px 0;
}
.notification {
    margin: 20px 0;
}
.notification img {
    margin-right: 10px;
}
/* Notifications Style */

/* Contact Us Style */
.contact-us .left {
    background-image: url(/website/images/contact-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;
}
.contact-us h3 {
    color: #CEA74E;
    font-size: 5.625rem;
}
.contact-us h4,
.contact-us p {
    color: #fff;
}
.contact-us h5 {
    color: #CEA74E;
    font-size: 2.063rem;
    margin-top: 20px;
}
.contact-us .right {
    background-image: url(/website/images/contact-form.png);
    background-repeat: no-repeat;
    padding: 200px 100px;
    min-height: 900px;
}
.contact-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.contact-row img {
    margin-right: 8px;
}
.contact-row p {
    color: #CEA74E;
    font-size: 1.188rem;
}
.contact-us h4 {
    font-size: 1.563rem;
    font-family: 'Libre Franklin';
    font-weight: 400;
}
.contact-row p span,
.contact-row p span a {
    color: #fff;
}
.contact-us .left hr {
    background: #fff;
    margin: 30px 0;
}
.contact-us .right input,
.contact-us .right textarea {
    width: 100%;
    margin: 20px 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 10px 5px;
    color: #ffffff;
    font-size: 1.188rem;
}
.contact-us .right form {
    max-width: 80%;
    margin-left: 25px;
}
.contact-us .right button {
    background: #CEA74E;
    color: #fff;
    border: 1px solid #CEA74E;
    padding: 12px 40px;
    border-radius: 39px;
    margin: 20px 0;
    font-size: 1.063rem;
}
.contact-us .right .social-media {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.contact-us .right .social-media i {
    color: #cea74e;
    font-size: 20px;
}
.contact-us .right .social-media a {
    margin: 0 10px;
}
/* Contact Us Style */
/* Radio Buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #cea74e;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #cea74e;
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* .color_variations label {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.size_variations label {
    box-shadow: 0px 0px 7px 0px #cccccc;
    border-radius: 50%;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.color_variations [type="radio"]:checked + label:before, 
.color_variations [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 100%;
}
.color_variations [type="radio"]:checked + label:after, 
.color_variations [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 30px;
    height: 30px;
    border: 2px solid #cea74e;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.size_variations [type="radio"]:checked + label:before, 
.size_variations [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
}
.size_variations [type="radio"]:checked + label:after, 
.size_variations [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #cea74e;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#single-product .color_variations h4,
#single-product .size_variations h4 {
    margin: 0;
    color: #CEA74E;
    font-size: 20px;
} */

/* Radio Buttons */

/* Checkbox Buttons */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 1px solid #cea74e;
    border-radius: 2px;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #cea74e;
    position: absolute;
    top: 1px;
    left: 4px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Checkbox Buttons */

/* Search */
#search {
    align-items: center;
    background: #ffffff;
    height: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: fixed;
    transition: all 0.5s;
    width: 100vw;
    will-change: transform, opacity;
    z-index: -1;
  }
#search.show {
    height: 100vh !important;
    opacity: 1;
    width: 100vw !important;
    z-index: 999;
    overflow-y: scroll;
}
#search.show .close-btn {
display: block;
cursor: pointer;
}
.main_menu #search_input_box {
    position: fixed;
    left: 0;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
    max-width: 100%;
    z-index: 999;
    text-align: center;
    background: rgba(255,255,255,0.9);
    height: 100%;
    right: 0;
    top: 0;
}
.main_menu #search_1 i {
    color: #cea74e;
}
.main_menu #search_input_box .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main_menu .search-inner img {
    margin-bottom: 20px;
}
.main_menu #search_input_box .form-control {
    background: #fff;
    border: 0;
    color: #15100C;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 0;
    border-radius: 39px;
    padding: 30px;
    border-bottom: 1px solid #cea74e;
    margin: 20px 0;
}
.main_menu #search_input_box .ti-close {
    color: #cea74e;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    padding-right: 0;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 21px;
}
.main_menu .search-inner {
    padding: 5px 5px;
    width: 40%;
}
.search-inner .search-buttons button {
    background: #cea74e;
    color: #fff;
    border-radius: 39px;
    margin: 0 10px;
    padding: 10px 20px;
    min-width: 190px;
    font-size: 1.25rem;
}
.advanced-search {
    margin: 10px 0;
}
.advanced-search select {
    width: 100%;
    margin: 10px 0;
    padding: 12px 5px;
    border-radius: 39px;
    border: 0;
    border-bottom: 1px solid #cea74e;
    font-size: 1.375rem;
}
.advanced-search .price-filter .slider-process {
    background: #cea74e !important;
}
.advanced-search .price-filter .slider-tooltip {
    background: #cea74e !important;
    border-color: #cea74e !important;
}
.merged-tooltip {
    display: none !important;
}
.search-inner .search-buttons button:hover {
    color: #fff;
}
/* Search */

/* User Menu */
.home_menu button {
    color: #cea74e;
}
.home_menu button:hover {
    color: #cea74e; 
}
.home_menu button img {
    max-width: 30px;
    border-radius: 50%;
}
a.dropdown-item.profile-menu img {
    max-width: 40px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}
.topbar ul.dropdown-menu.show {
    background: #fff;
    padding: 0;
    border-radius: 4px;
    width: 200px;
}
.topbar ul.dropdown-menu.show a.profile-menu {
    background: #CEA74E;
    margin: 0;
    color: #15100C;
    border-radius: 4px 4px 0 0;
}
.topbar ul.dropdown-menu.show a {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #F3F2EF;
    color: #15100C;
    border-radius: 4px;
}
/* User Menu */

/* Header Menu */
.hover-menu {
    position: relative;
}
.hover-dropdown {
    min-width: 10rem;
    position: absolute;
    left: 0;
    top: 85;
    z-index: 99999;
    background: #fff;
    margin: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 60%);
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
}
.hover-dropdown li {
    padding: 10px 5px;
}
.hover-dropdown a {
    color: #15100C;
    margin: 10px;
    transition: 0.3s all;
    white-space: nowrap;
}
.hover-dropdown a:hover {
    color: #CEA74E;
}
.hover-menu:hover > .hover-dropdown,
.hover-dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  transform: scale(1);
}
.main_menu .main-menu-item .nav-item .nav-link {
    position: relative;
}
.header-links {
    display: flex;
}
/* Header Menu */
/* Header */
.main_menu a i {
    position: relative;
    z-index: 1;
    font-size: 15px;
    margin-left: 19px;
}
.hover-dropdown ul {
    margin: 0 20px;
}
header .header {
    padding: 7px 0;
}
.advanced-search .row {
    align-items: center;
}
/* Header */
/* Home Page */
.section_tittle p {
    text-align: right;
    margin-right: 100px;
}
.section_tittle p a {
    color: #1a1a1a;
    font-size: 1.563rem;
    font-weight: 400;
}
.section_tittle p a:hover {
    color: #cea74e;
}
.divisions .col-md-6,
.divisions .col-md-12 {
    margin-bottom: 30px;
}
/* Home Page */

/* Footer */
.footer-top i {
    font-size: 18px;
}
/* Footer */
.mobile-filter {
    display: none;
}

/* Bottom Menu */
.bottom-menu {
    display: none;
}
.mobile-menu-links {
    display: none !important;
}
/* Bottom Menu */

/* Influencer Shop */ 
.header_image img {
    width: 100%;
}
.influencer-page .header_title {
    text-align: left;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.influencer-page .header_title h2 {
    display: block;
}
.influencer-buttons {
    display: flex;
    align-items: center;
}
.influencer-buttons button {
    margin: 10px 10px 10px 0;
    background: #cea74e;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 39px;
}
.influencer-buttons a {
    color: #cea74e;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
/* Influencer Shop */
/*Single Product */
.product-nav.product-nav-dots a {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: .5rem;
    transition: box-shadow .35s ease;
    background-repeat: no-repeat;
    background-position: 50%;
}
.product-nav-dots a.disabled {
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none;
}
.product-variations {
    align-items: center;
    margin: 10px 0;
}
.product-variations label {
    font-size: 25px;
    color: #cea74e;
    margin-right: 10px;
}
.product-title .product-variations a {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid #fff  !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.product-title .product-variations a.selected {
    border: 2px solid #cea74e !important;
}
.product-title .product-variations .sizes a {
    box-shadow: 0 0 7px rgb(0 0 0 / 30%);
    cursor: pointer;
}
.product-title .product-variations .disabled a {
    pointer-events: none;
    opacity: 0.7;
}
#single-product .buttons button.disabled {
    opacity: 0.7;
    pointer-events: none;
}
.combination-price .product-price {
    font-size: 25px;
}
.combination-price .product-price span {
    color: #cea74e;
}
/* Single Product */
@media (max-width: 767px) {
    body .owl-theme .owl-nav {
        top: -53px;
    }
    .mobile-menu-links {
        display: flex !important;
    }
    .main_menu .mobile-menu-links a,
    .main_menu .mobile-menu-links .main-menu-item .nav-item .nav-link {
        color: #cea74e !important;
    }
    .header-links ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header-links {
        width: 100%;
        justify-content: space-around;
    }
    .bottom-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #15100c;
        padding: 3px 0;
        border-radius: 15px 15px 0 0;
        z-index: 9999;
    }
    .bottom-menu .cart {
        position: relative;
    }
    .bottom-menu .cart span {
        position: absolute;
        right: 3px;
        top: 2px;
        font-size: 12px;
        background: #cea74e;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_menu .header-icons {
        display: none;
    }
    .bottom-menu a {
        color: #cea74e;
        font-size: 20px;
    }
    .bottom-menu .social-media a {
        font-size: 18px;
        margin: 0 10px;
    }
    .mobile-filter {
        display: block;
    }
    .mobile-filter i {
        font-size: 25px;
        margin: 10px 0;
    }
    #sidebar {
        height: 1px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s all;
    }
    #sidebar.show-filter {
        height: 100%;
        overflow: visible;
        visibility: visible;
        opacity: 1;
    }
    .topbar-mobile > div:first-child {
        min-height: 45px;
    }
    .main_menu {
        padding: 0;
    }
    .slider-content {
        left: 30px;
    }
    .slider-content h3 {
        font-size: 45px;
    }
    .Sliders .itemSlider img {
        object-fit: cover;
    }
    .section_tittle h2 {
        font-size: 34px;
    }
    .section_tittle p {
        text-align: right;
        margin: 0;
        position: relative;
        top: 30px;
    }
    .section_padding {
        padding: 40px 0;
    }
    .single_product_item {
        box-shadow: 0px 10px 20px 0px rgb(0 23 51 / 9%);
    }
    .offer_block1 {
        margin: 10px 0;
    }
    .divisions .section_tittle {
        transform: rotateZ( 0 );
        margin-bottom: 20px;
    }
    .brands-page a {
        width: 50%;
        text-align: center;
    }
    .contact-us .left {
        padding: 20px;
    }
    .contact-us .right {
        padding: 20px;
        min-height: 550px;
    }
    #about_left_content {
        position: static;
    }
    #about_left_content h2,
    #about_left_content h2 span {
        font-size: 35px;
    }
    #about_left_content h4 {
        font-size: 35px;
    }
    #about_left_content h4:before {
        width: 25px;
        left: -25px;
    }
    #cart-total div {
        padding: 0;
    }
    body .cart-product .text-color, 
    body .cart-total .text-color {
        font-size: 15px;
    }
    .cart-total h6 {
        font-size: 16px;
    }
    .my-profile .profile-row > .col-md-6:first-child {
        order: 3;
    }
    .my-profile .profile-row > .col-md-6:last-child {
        order: 1;
    }
    .edit-img label:after {
        right: -50px;
    }
    .notifications h4 {
        font-size: 20px;
    }
    .my-orders button {
        padding-left: 0;
        padding-right: 32px;
    }
    .my-orders th {
        white-space: nowrap;
    }
    .form_inputs select, .form_inputs input {
        margin: 0 0 30px 0;
        min-height: 35px;
    }
    .manage_address .form-check .form-check-label {
        width: 100%;
    }
    .manage_address .form-check i.bx-trash {
        margin-left: 28px;
    }
    .main_menu .search-inner {
        width: 100%;
        max-height: 100%;
    }
    .main_menu .search-inner img {
        width: 80%;
    }
    .search-inner .search-buttons button {
        min-width: 125px;
    }
    .main_menu #search_input_box {
        margin-top: 0;
    }
    .main_menu #search_input_box .ti-close {
        top: 20px;
        right: 20px;
    }
    .main_menu #search_input_box {
        overflow-y: auto;
    }
    .navbar-collapse {
        top: 0;
    }
    .navbar-brand {
        max-width: 65%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 20px;
    }
    .navbar-brand img {
        max-width: 100%;
        position: static;
    }
    .home_menu .main-menu-item {
        padding-left: 0px;
        padding: 50px 0;
        position: fixed;
        top: 74px;
    }
    .main_menu .main-menu-item ul li a.nav-link.active {
        background-position: left;
        background-size: contain;
    }
    .header_title {
        top: 18%;
    }
    .header_title h2 {
        font-size: 45px;
    }
    #single-product h3 {
        margin-top: 20px;
        font-size: 22px;
    }
    #single-product h2 {
        font-size: 25px;
    }
    #single-product .item-code {
        flex-direction: column;
    }
    #single-product .item-code .currency {
        margin-left: 0 !important;
    }
    #single-product .item-code div, 
    #single-product .item-code div p, 
    #single-product .color, 
    #single-product .size, 
    #single-product .share {
        font-size: 22px;
    }
    #single-product .icons button,
    #single-product .buttons button {
        margin: 5px 0;
        font-size: 14px;
    }
    .add-review form {
        width: 100%;
    }
    .luxury_slider .slider-content {
        left: 15px;
        right: 15px;
        top: 30%;
    }
    .luxury-button {
        font-size: 28px;
    }
    .luxury_about .right_section img {
        position: static;
    }
    .luxury_about h3 {
        font-size: 50px;
        margin: 8px 15px;
    }
    .luxury_about p,
    .luxury_about .luxury-button {
        margin: 0 15px;
    }
    .luxury_shop .header_title {
        left: 15px;
    }
    .luxury_shop .header_title h2 {
        font-size: 40px;
    }
    .luxury_shop .inner_header {
        min-height: 40vh;
    }
    .luxury_shop .inner_header .header_image {
        min-height: 40vh;
    }
    .luxury_shop .inner_header .header_image img {
        height: 40vh;
        object-fit: cover;
    }
    .luxury_shop .header_title p {
        max-width: 100%;
        font-size: 18px;
    }
    .navbar-light .navbar-toggler {
        position: fixed;
        left: auto;
        right: 5px;
        top: 5px;
    }
    .navbar-toggler .menu_icon i {
        color: #cea74e;
    }
    #dropdownMenuButton1 {
        padding-left: 0;
    }

    .topbar-mobile > div:last-child {
        display: none !important;
    }
    .main_menu .cart span {
        top: 0;
    }
    .main_menu .header-icons i {
        font-size: 22px;
        margin-left: 0;
    }
    footer {
        padding-bottom: 50px;
    }
    .login .container-fluid > .row > .col-md-6 {
        padding: 0 15px;
    }
    .login .form {
        max-width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    body .owl-theme .owl-nav {
        top: -55px;
    }
    .offer_img {
        text-align: center;
    }
    .mobile-menu-links {
        display: flex !important;
    }
    .main_menu .mobile-menu-links a,
    .main_menu .mobile-menu-links .main-menu-item .nav-item .nav-link {
        color: #cea74e !important;
    }
    .header-links ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header-links {
        width: 100%;
        justify-content: space-around;
    }
    .bottom-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #15100c;
        padding: 3px 0;
        border-radius: 15px 15px 0 0;
        z-index: 9999;
    }
    .bottom-menu .cart {
        position: relative;
    }
    .bottom-menu .cart span {
        position: absolute;
        right: 3px;
        top: 2px;
        font-size: 12px;
        background: #cea74e;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_menu .header-icons {
        display: none;
    }
    .bottom-menu a {
        color: #cea74e;
        font-size: 20px;
    }
    .bottom-menu .social-media a {
        font-size: 18px;
        margin: 0 10px;
    }
    .mobile-filter {
        display: block;
    }
    .mobile-filter i {
        font-size: 25px;
        margin: 10px 0;
    }
    #sidebar {
        height: 1px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s all;
    }
    #sidebar.show-filter {
        height: 100%;
        overflow: visible;
        visibility: visible;
        opacity: 1;
    }
    .topbar-mobile > div:first-child {
        min-height: 45px;
    }
    .main_menu {
        padding: 0;
    }
    .slider-content {
        left: 30px;
    }
    .slider-content h3 {
        font-size: 45px;
    }
    .Sliders .itemSlider img {
        object-fit: cover;
    }
    .section_tittle h2 {
        font-size: 34px;
    }
    .section_tittle p {
        text-align: left;
    }
    .section_padding {
        padding: 40px 0;
    }
    .single_product_item {
        box-shadow: 0px 10px 20px 0px rgb(0 23 51 / 9%);
    }
    .offer_block1 {
        margin: 10px 0;
    }
    .divisions .section_tittle {
        transform: rotateZ( 0 );
        margin-bottom: 20px;
    }
    .brands-page a {
        width: 50%;
        text-align: center;
    }
    .contact-us .left {
        padding: 20px;
    }
    .contact-us .right {
        padding: 20px;
        min-height: 550px;
    }
    #about_left_content {
        position: static;
    }
    #about_left_content h2,
    #about_left_content h2 span {
        font-size: 35px;
    }
    #about_left_content h4 {
        font-size: 35px;
    }
    #about_left_content h4:before {
        width: 25px;
        left: -25px;
    }
    #cart-total div {
        padding: 0;
    }
    body .cart-product .text-color, 
    body .cart-total .text-color {
        font-size: 15px;
    }
    .cart-total h6 {
        font-size: 16px;
    }
    .my-profile .profile-row > .col-md-6:first-child {
        order: 3;
    }
    .my-profile .profile-row > .col-md-6:last-child {
        order: 1;
    }
    .edit-img label:after {
        right: -50px;
    }
    .notifications h4 {
        font-size: 20px;
    }
    .my-orders button {
        padding-left: 0;
        padding-right: 32px;
    }
    .my-orders th {
        white-space: nowrap;
    }
    .form_inputs select, .form_inputs input {
        margin: 0 0 30px 0;
        min-height: 35px;
    }
    .manage_address .form-check .form-check-label {
        width: 100%;
    }
    .manage_address .form-check i.bx-trash {
        margin-left: 28px;
    }
    .main_menu .search-inner {
        width: 100%;
        max-height: 100%;
    }
    .main_menu .search-inner img {
        width: 80%;
    }
    .search-inner .search-buttons button {
        min-width: 125px;
    }
    .main_menu #search_input_box {
        margin-top: 0;
    }
    .main_menu #search_input_box .ti-close {
        top: 20px;
        right: 20px;
    }
    .main_menu #search_input_box {
        overflow-y: auto;
    }
    .navbar-collapse {
        top: 0;
    }
    .navbar-brand {
        max-width: 65%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 20px;
    }
    .navbar-brand img {
        max-width: 100%;
        position: static;
    }
    .home_menu .main-menu-item {
        padding-left: 0px;
        padding: 50px 0;
        position: fixed;
        top: 74px;
    }
    .main_menu .main-menu-item ul li a.nav-link.active {
        background-position: left;
        background-size: contain;
    }
    .header_title {
        top: 18%;
    }
    .header_title h2 {
        font-size: 45px;
    }
    #single-product h3 {
        margin-top: 20px;
        font-size: 22px;
    }
    #single-product h2 {
        font-size: 25px;
    }
    #single-product .item-code {
        flex-direction: column;
    }
    #single-product .item-code .currency {
        margin-left: 0 !important;
    }
    #single-product .item-code div, 
    #single-product .item-code div p, 
    #single-product .color, 
    #single-product .size, 
    #single-product .share {
        font-size: 22px;
    }
    #single-product .icons button,
    #single-product .buttons button {
        margin: 5px 0;
        font-size: 14px;
    }
    .add-review form {
        width: 100%;
    }
    .luxury_slider .slider-content {
        left: 15px;
        right: 15px;
        top: 30%;
    }
    .luxury-button {
        font-size: 28px;
    }
    .luxury_about .right_section img {
        position: static;
    }
    .luxury_about h3 {
        font-size: 50px;
        margin: 8px 15px;
    }
    .luxury_about p,
    .luxury_about .luxury-button {
        margin: 0 15px;
    }
    .luxury_shop .header_title {
        left: 15px;
    }
    .luxury_shop .header_title h2 {
        font-size: 40px;
    }
    .luxury_shop .inner_header {
        min-height: 40vh;
    }
    .luxury_shop .inner_header .header_image {
        min-height: 40vh;
    }
    .luxury_shop .inner_header .header_image img {
        height: 40vh;
        object-fit: cover;
    }
    .luxury_shop .header_title p {
        max-width: 100%;
        font-size: 18px;
    }
    .navbar-light .navbar-toggler {
        position: fixed;
        left: auto;
        right: 5px;
        top: 5px;
    }
    .navbar-toggler .menu_icon i {
        color: #cea74e;
    }
    #dropdownMenuButton1 {
        padding-left: 0;
    }

    .topbar-mobile > div:last-child {
        display: none !important;
    }
    .main_menu .cart span {
        top: 0;
    }
    .main_menu .header-icons i {
        font-size: 22px;
        margin-left: 0;
    }
    footer {
        padding-bottom: 50px;
    }
    .login .container-fluid > .row > .col-md-6 {
        padding: 0 15px;
    }
    .login .form {
        max-width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    body .owl-theme .owl-nav {
        top: -55px;
    }
    a.navbar-brand {
        max-width: 200px;
    }
    .main_menu .main-menu-item ul li .nav-link {
        font-size: 13px;
    }
}

/* Mega Menu Styles  */

.navbar .dropdown-menu {
background-color:#ffffff!important;
}
.main_menu .main-menu-item .dropdown {
    position: relative;
}
.main_menu .main-menu-item .dropdown .bx {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    height: auto;
    bottom: -10px;
    opacity: 0;
    transition: .5s all;
    color: #cea74e;
    font-size: 14px;
}
.main_menu .main-menu-item .dropdown:hover .bx {
    opacity: 1;
}
.main_menu .main-menu-item .dropdown ul li .nav-link {
    padding: 10px 0;
    font-size: .9rem;
    color: #424242;
}
.main_menu .main-menu-item .dropdown ul li .nav-link:hover {
    color: #cea74e;
}
.main_menu .main-menu-item .dropdown .main-title {
    font-size: 1rem;
    font-weight: bold;
    color: #15100c;
    transition: .5s all;
}
.main_menu .main-menu-item .dropdown .main-title:hover {
    color: #cea74e;
}
.main_menu .main-menu-item .dropdown ul {
    padding: 2% 0;
}
@media screen and (min-width: 992px) {  
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
}
.navbar .dropdown {
    position:static;
}
body .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    top: 174px;
    padding: 2% 0;
    margin: 0;
    border-top: 1px solid #cea74e !important;
}
body .navbar .logged_in_user .dropdown-menu {
    top: 193px;
}
.main_menu .main-menu-item .nav-item {
    position: relative;
}
.main_menu .main-menu-item .nav-item h5 {
    position: absolute;
    bottom: 5px;
    left: 8px;
}
.main_menu .main-menu-item .nav-item h5 .badge {
    font-weight: 400;
    letter-spacing: .5px;
}
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display: block!important;
    box-shadow: 0px 5px 10px -5px #15100c;
}
.navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
}
}

/* Mega Menu Styles */